/* Select the button elements using the button selector */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.4s;
  margin: 15px;
  min-width: 250px;
}

/* Use the :hover pseudo-class to change the background color when the mouse is over the button */
button:hover {
  background-color: #008CBA;
}

/* Select the container element using the .container class */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Select the container element using the .cards class */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* Select the images using the img selector */
img {
  width: 200px;
  height: 300px;
  margin: 10px;
  display: none; /* Hide images by default */
}

/* Select the container element using the .new-card class */
.new-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Select the image using the id selector */
#currentPlayerNewCard {
  width: 200px;
  height: 300px;
  margin: 10px;
  display: none; /* Hide the new card image by default */
}
