.container {
    width: 100%;
  }
  
  .box1, .box2, .box3, .box4, .box5 {
    height: 20vh; /* 20% of the viewport height */
  }
  
  .box1 {
    background: red;
  }
  
  .box2 {
    background: orange;
  }
  
  .box3 {
    background: yellow;
  }
  
  .box4 {
    background: green;
  }
  
  .box5 {
    background: blue;
  }
  