html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#nav-list {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
}
a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  #nav-list a:hover {
    background-color: rgba(0,0,0,0.1);
    color: black;
  }

  #nav-list a.active {
    background-color: rgba(0,0,0,0.3);
    color: black;
  }

#br-img  {
    background-image: url("images/background.png");
    background-repeat:repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    background-position:top center;
    height: 100%;
    width: 100%;

}

#play-btn {
  background-image: url(images/playnow.png);
  background-size: 100% 100%;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 0%);
  height: 100px;
  width: 250px;
  padding: 2%;
  z-index: 1;
}
#play-btn:hover {
  opacity: 50%;
}

#mono-plane {
    background-image: url("images/Pirate_map.png");
    background-size: 100% 100%;
    position: absolute;
    top: 100%;
    height:100%;
    width:100%;
    z-index: 2;
}
