html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#game-br {
    background-image: url("images/game-br.png");
    background-repeat:repeat;
    background-size: auto 100%;
    background-attachment: absolute;
    background-position:top center;
    position: absolute;
    top:0%;
    left:0%;
    height: 100%;
    width: 100%;
}

#exit {
    background-color: lightgrey;
    position: absolute;
    left: 40%;
    top: 70%;
    height: 10%;
    width: 20%;
    z-index: 2;
  }


#card1 {
    background-image: url(images/CardAceC.png);
    background-size: 100% 100%;
    padding-top: 5%;
    padding-right: 5%;
    width: 150px;
    height: 160px;
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 35%
}

#card2 {
    background-image: url(images/CardAceC.png);
    background-size: 100% 100%;
    padding-top: 5%;
    padding-right: 5%;
    width: 150px;
    height: 160px;
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#card3 {
    background-image: url(images/CardAceC.png);
    background-size: 100% 100%;
    padding-top: 5%;
    padding-right: 5%;
    width: 150px;
    height: 160px;
    z-index: 2;
    position: absolute;
    top: 35%;
    right: 15%;
}

#interface {
    background-color: lightgrey;
    position: relative;
    z-index: 1;
    width:fit-content;
    margin: 0.5%;
    padding: 0.5%;
}